.main-body {
  position: relative;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  background: url("../images/Page1_Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-chat {
  position: relative;
}

.main-chat a {
  position: fixed;
  bottom: 25px;
  right: 30px;
  padding: 16px;
  background-color: #fed639;
  z-index: 10;
  border-radius: 9999px;
}

.main-chat a img {
  width: 25px;
  height: auto;
}

.main-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(53, 5, 55, 0.85),
    rgba(26, 11, 43, 0.85)
  );
  z-index: 2;
  pointer-events: none;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  align-items: center;
  padding-top: 2rem;
  position: relative;
  z-index: 3;
}

.left-div {
  width: 600px;
  background: transparent;
  position: relative;
  z-index: 4;
}

.heading_page1 {
  font-weight: 700;
  font-size: 48px;
  color: white;
  line-height: 64px;
}

.highlight {
  position: relative;
  color: #fed639;
}

.highlight-vector {
  position: absolute;
  left: 4px;
  bottom: -5px;
}

.description {
  margin-top: 1.2rem;
  color: #ebf1f8;
  font-size: 20px;
  line-height: 180%;
  font-weight: 200;
  width: 513px;
}

.form-container {
  margin-top: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #ebf1f8;
  font-weight: 600;
  font-size: 16px;
}

.form-input,
.form-select,
.form-textarea {
  width: 400px;
  height: 42px;
  padding: 10px 12px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #404040;
  background: #ebf1f8;
  font-size: 1rem;
  appearance: none;
}

.form-input::placeholder,
.form-select::placeholder,
.form-textarea::placeholder {
  color: #4e5064;
}

.form-select,
.form-input {
  margin-top: 8px;
  color: #4e5064;
}

.form-textarea {
  height: 5rem;
  margin-top: 8px;
}

.submit-button {
  background-color: #6782ff;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 1.25rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.submit-button:hover {
  background-color: #1d4ed8;
}

.lower-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  position: relative;
  z-index: 6;
}

.lower-heading {
  white-space: nowrap;
  font-weight: bold;
  font-size: 48px;
  color: white;
  line-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 140px;
}

.lower-paragraph {
  width: 1200px;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  color: #d3d3d3;
}

.circle-div {
  position: absolute;
  top: 50px;
  left: 0px;
  background-repeat: repeat;
  z-index: 0;
}

.circle-image {
  user-select: none;
  height: 100%;
  margin: 0;
  opacity: 50%;
  z-index: 0;
}
