.page-4-container {
  position: relative;
  height: 990px;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-4-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.page-4-content-box {
  height: fit-content;
  /* margin-top: 1.5rem; */
  width: 752px;
  height: fit-content;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    rgba(137, 52, 125, 0.9),
    rgba(120, 58, 151, 0.9)
  );
  color: white;
}

.page-4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

.page-4-title-section {
  margin-bottom: 0;
}

.page-4-main-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 100%;
}

.page-4-subtitle {
  width: fit-content;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 18px;
  line-height: 100%;
  margin-top: 1rem;
}

.page-4-details-section {
  width: 576px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.page-4-detail-title {
  font-size: 22px;
  font-weight: 700;
}

.page-4-detail-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  /* text-align: ; */
}
