.page-4-container {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-4-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.page-4-content-box {
  height: fit-content;
  margin-top: 1.5rem;
  width: 600px;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    rgba(137, 52, 125, 0.9),
    rgba(120, 58, 151, 0.9)
  );
  color: white;
}

.page-4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}

.page-4-title-section {
  margin-bottom: 0;
}

.page-4-main-title {
  font-size: 24px; /* equivalent to text-2xl */
  /* line-height: 2rem; */
  font-weight: 600; /* font-semibold */
}

.page-4-subtitle {
  font-weight: normal;
  /* margin-top: 0.5rem; */
}

.page-4-details-section {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.page-4-detail-title {
  font-size: 1.125rem; /* equivalent to text-lg */
  font-weight: 600; /* font-semibold */
}

.page-4-detail-description {
  font-weight: normal;
  font-size: 0.875rem; /* equivalent to text-sm */
  text-align: justify;
}
